---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';

import Contact from '@/components/Contact.vue';
import Brands from '@/components/Brands.vue';
  import icon1 from '@/assets/icons/481.svg';
  import icon2 from '@/assets/icons/482.svg';
  import icon3 from '@/assets/icons/483.svg';
  import icon4 from '@/assets/icons/484.svg';
  import MapIcon from '@/assets/Map-icon.png';
import {PhoneIcon,  ClockIcon, EnvelopeIcon, MapPinIcon} from '@heroicons/vue/24/outline';
---
<Layout>
 <section class="bg-neutral-950 p-24">
    <h1 class="text-5xl font-bold text-center text-neutral-200">Contact Us</h1>
  </section>

 <section class="w-4/5 mx-auto py-20">
    <div class="flex items-center gap-16">
      <div class="space-y-8">
        <h1 class="text-4xl font-bold">You Will Grow, You Will Succeed. We Promise That</h1>
        <p>Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</p>
        <div class="grid grid-cols-2 gap-y-8 text-neutral-800 font-bold">
          <div class="flex flex-col gap-2">
            <PhoneIcon class="size-8 text-primary"/>
            <p>Call for inquiry</p>
            <span class="text-sm text-neutral-700 font-normal">+91 981171XXXX</span>
          </div>
          <div class="flex flex-col gap-2">
            <EnvelopeIcon class="size-8 text-primary"/>
            <p>Send us Mail</p>
            <span class="text-sm text-neutral-700 font-normal">theamonx@gmail.com</span>
          </div>
          <div class="flex flex-col gap-2 ">
            <ClockIcon  class="size-8 text-primary" />
            <p>Opening Hours</p>
            <span class="text-sm text-neutral-700 font-normal">Mon-Fri, 10AM - 10PM</span>
          </div>
          <div class="flex flex-col gap-2 ">
            <MapPinIcon class="size-8 text-primary"/>
            <p>Ofiice</p>
            <span class="text-sm text-neutral-700 font-normal">Noida Sector-42, Delhi NCR</span>
          </div>
        </div>
      </div>
      <div class="w-1/2 ">
        <Contact/>
      </div>
    </div>
    <div class="py-8 ">
      <Image src={MapIcon} alt="Address and Map" class="w-full" />
    </div>
    <Brands class="bg-black invert opacity-30 pt-16" />
  </section>

</Layout>
