---
import Layout from '@/layouts/Layout.astro';

import { Image } from 'astro:assets';
import company1 from "@/assets/companies/Logo.svg";
import { UserIcon, BookmarkIcon, BriefcaseIcon, ClockIcon, WalletIcon, MapPinIcon, CheckIcon, TrophyIcon, AcademicCapIcon, EnvelopeIcon, PhoneIcon, ChatBubbleLeftIcon  } from '@heroicons/vue/24/outline';
import JobList from '@/components/JobList.vue';
import Map from '@/assets/map.png';
import Job from '@/services/jobTemplate.js';
import Contact from '@/components/Contact.vue';
const job = new Job("Forward Security Director", "Bauch, Schuppe and Schulist Co", company1 , "Hotel & Tourism", true, 40000, 42000, "New Delhi");


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
   <section class="bg-neutral-950 p-24">
    <h1 class="text-5xl font-bold text-center text-neutral-200">Job Details</h1>
  </section>
  <div class="space-y-8 bg-white p-20">
                <div class="flex justify-between">
                    <div class="flex gap-4 items-center">
                      <Image src={job.logo} alt={"comapny-logo"} class="w-12 h-12" />
                        <div>
                            <h5 class="text-neutral-800 font-bold text-3xl">{ job.role }</h5>
                            <p class="text-neutral-700 ">{ job.company }</p>
                        </div>
                    </div>
                    <BookmarkIcon class="size-6 text-primary"/>
                </div>
                <div class="flex justify-between items-center">
                    <div class="flex gap-4 ">
                        <div class="flex gap-2">
                            <BriefcaseIcon class="size-6 text-primary" />
                            <span>{ job.category }</span>
                        </div>
                        <div class="flex gap-2">
                            <ClockIcon class="size-6 text-primary" />
                            <span>{ job.category }</span>
                        </div>Overview
                        <div class="flex gap-2">
                            <WalletIcon class="size-6 text-primary" />
                            <span>{ job.category }</span>
                        </div>
                        <div class="flex gap-2">
                            <MapPinIcon class="size-6 text-primary" />
                            <span>{ job.category }</span>
                        </div>
                    </div>
                    <button class="bg-primary py-3 px-4 rounded-lg text-neutral-100 text-sm font-bold w-60">Appy Job</button>
                </div>
            </div>
  <section class="px-20 pb-20 flex gap-16">
    <div class="w-3/4 space-y-6">
    <h3 class="font-bold text-xl text-neutral-900">Job Description</h3>
    <p class="text-neutral-800 text-sm">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum id scelerisque rhoncus. Lectus dolor blandit massa pretium id ultrices phasellus tortor. Risus risus lectus augue justo lacus viverra sit. Ultricies purus dolor viverra mi laoreet at cursus justo. Ultrices purus diam egestas amet faucibus tempor blandit. Elit velit mauris aliquam est diam. Leo sagittis consectetur diam morbi erat aenean. Vulputate praesent congue faucibus in euismod feugiat euismod volutpat. Adipiscing risus amet phasellus imperdiet eget vel pulvinar. Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.At eu lobortis pretium tincidunt amet lacus ut aenean aliquet.<br><br> Blandit a massa elementum id scelerisque rhoncus. Lectus dolor blandit massa pretium id ultrices phasellus tortor. Risus risus lectus augue justo lacus viverra sit. Ultricies purus dolor viverra mi laoreet at cursus justo. Ultrices purus diam egestas amet faucibus tempor blandit. Elit velit mauris aliquam est diam. Leo sagittis consectetur diam morbi erat aenean. Vulputate praesent congue faucibus in euismod feugiat euismod volutpat. Adipiscing risus amet phasellus imperdiet eget vel pulvinar. Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</p>

    <h3 class="font-bold text-xl text-neutral-900">Key Responsiblities</h3>
    <ul class="space-y-4 text-sm">
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" />At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum id scelerisque rhoncus.</li>
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" /> erat aenean. Vulputate praesent congue faucibus in euismod feugiat euismod volutpat. Adipiscing risus amet phasellus imperdiet eget vel pulvinar.</li>
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" />Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</li>
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" />Vulputate praesent congue faucibus in euismod feugiat euismod volutpat. Adipiscing risus amet phasellus imperdiet eget vel pulvinar.</li>
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" />Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc</li>
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" />Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.At eu lobortis pretium tincidunt amet lacus ut aenean aliquet.</li>
    </ul>

    <h3 class="font-bold text-xl text-neutral-900">Professionl Skills</h3>
    <ul class="space-y-4 text-sm">
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" />At eu lobortis pretium tincidunt amet lacus ut aenean aliquet. Blandit a massa elementum id scelerisque rhoncus.</li>
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" /> erat aenean. Vulputate praesent congue faucibus in euismod feugiat euismod volutpat. Adipiscing risus amet phasellus imperdiet eget vel pulvinar.</li>
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" />Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.</li>
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" />Vulputate praesent congue faucibus in euismod feugiat euismod volutpat. Adipiscing risus amet phasellus imperdiet eget vel pulvinar.</li>
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" />Risus in felis faucibus sit. Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc</li>
      <li class="flex gap-2"><CheckIcon class="size-5 text-green-500" />Scelerisque consequat iaculis mauris amet vel felis id tincidunt nunc.At eu lobortis pretium tincidunt amet lacus ut aenean aliquet.</li>
    </ul>

    <h3 class="font-bold text-xl text-neutral-900">Tags: </h3>
    <div class="flex gap-4 text-sky-500 text-sm">
      <div class="bg-sky-100 rounded-full py-1 px-2">engineering</div>
          <div class="bg-sky-100 rounded-full py-1 px-2">design</div>
          <div class="bg-sky-100 rounded-full py-1 px-2">ui/ux</div>
          <div class="bg-sky-100 rounded-full py-1 px-2">marketing</div>
          <div class="bg-sky-100 rounded-full py-1 px-2">management</div>
          <div class="bg-sky-100 rounded-full py-1 px-2">soft</div>
          <div class="bg-sky-100 rounded-full py-1 px-2">construction</div>

    </div>

    <h3 class="font-bold text-3xl text-neutral-900 mt-8">Related Jobs </h3>
    <p class="text-neutral-800 text-sm">At eu lobortis pretium tincidunt amet lacus ut aenean aliquet.</p>
    <div class="space-y-10">
      <JobList />
    </div>

  </div>
  <div class="w-1/4">
    <div class="space-y-4 text-neutral-600">
      <h3 class="font-bold text-xl text-neutral-900">Job Overview</h3>
      <div class="flex gap-4 items-center">
        <UserIcon  class="text-primary size-6"/>
        <div>
          <h5 class="font-bold">Job Title</h5>
          <p class="text-sm text-neutral-600">{ job.role }</p>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <ClockIcon  class="text-primary size-6"/>
        <div>
          <h5 class="font-bold">Job Type</h5>
          <p class="text-sm text-neutral-600">{ job.timing }</p>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <BriefcaseIcon  class="text-primary size-6"/>
        <div>
          <h5 class="font-bold">Category</h5>
          <p class="text-sm text-neutral-600">{ job.category }</p>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <TrophyIcon  class="text-primary size-6"/>
        <div>
          <h5 class="font-bold">Experience</h5>
          <p class="text-sm text-neutral-600">6 Months</p>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <AcademicCapIcon  class="text-primary size-6"/>
        <div>
          <h5 class="font-bold">Qualifications</h5>
          <p class="text-sm text-neutral-600">Graduated</p>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <WalletIcon  class="text-primary size-6"/>
        <div>
          <h5 class="font-bold">Offered Salary</h5>
          <p class="text-sm text-neutral-600">{ job.lsalary } - { job.usalary }</p>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <MapPinIcon  class="text-primary size-6"/>
        <div>
          <h5 class="font-bold">Location</h5>
          <p class="text-sm text-neutral-600">{ job.region }</p>
        </div>
      </div>
      <Image src={Map} alt={"Map"} class="rounded-lg aspect-square w-full" />

      <Contact/>
    </div>
  </div>
  </section>
</Layout>
